body{
	margin: 0;
	padding: 0;
	height: 100%;
}

#content{
	margin: 0;
	padding: 0;
}

#left{
	position: fixed;
	height: 100%;
	padding: 30px 50px;
	/* background-color: #1497E2; */
	color: #FEFEFE;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#logo, #countdown{
	margin-bottom: 50px;
}

.button{
	padding: 15px 25px;
	font-size: 18px;
	margin-right: 20px;
	margin-top: 20px;
}

#button1{
	background-color: transparent;
	border-style: solid;
	border-width: 2px;
	border-color: #FEFEFE;
}

#button2{
	background-color: #292323;
	color: #FEFEFE;
	border-style: solid;
	border-width: 2px;
	border-color: #292323;
}

#button3{
	padding: 15px 25px;
	font-size: 18px;
	margin-right: 20px;
	margin-top: 20px;
	background-color: transparent;
	border-style: solid;
	border-width: 2px;
	border-color: #FEFEFE;
}

#button1:hover{
	color: #292323;
	background-color: #FEFEFE;
}

#button2:hover{
	color: #292323;
	background-color: #FEFEFE;
	border-color: #FEFEFE;
}

#button3:hover{
	color: #292323;
	background-color: #FEFEFE;
}

footer{
	margin-bottom: 30px;
	position:absolute;
    bottom:0;
}

footer, img{
	height: 30px;
	margin-right: 10px;
}
#right{
	margin: 0;
	padding: 0;
	height: 100%;
	float: right;
}

#right, p{
	color: #a7a7a7;
	font-size: 18px;
}

#right, h3, h5{
	color: #555555;
}

#right1{
	height: 100vh;
	background-image: url('../assets/andela.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#right2{
	margin: 0;
	height: 100%;
	padding: 50px 50px;
	display: none;
}

#subscribe{
	position: absolute;
	background-color: black;
	padding: 10px 5px;
	color: #FEFEFE;
	margin-top: 80px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.34);
	display: none;
}

#subscribe1{
	padding: 70px 45px;
}

#subhead, #subtext{
	color: #fefefe;
}

body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#close{
	float: right;
	top: 0;
	right: 0;
	cursor: pointer;
}

#close1{
	float: right;
	top: 0;
	right: 0;
	cursor: pointer;
}

input[type=text]{
	width: 100%;
	padding: 12px 6px;
	padding-bottom: 3px;
	margin: 20px 0;
	display: inline-block;
	font-size: 18px;
	border-bottom: 1px solid #ababab;
	box-sizing: border-box;
	color: #a7a7a7;
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow: none;
}
		
input[type=text]:focus{
	outline: none;
	border-color: #1497E2;
}
		
input[type=text]::-webkit-input-placeholder {
    color: #a7a7a7;
}
		
input[type=submit] {
	background: none;
	color: #292323;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 18px;
	padding: 15px 25px;
	margin: 12px 0;
	border: 2px solid;
	border-radius: 2px;
	cursor: pointer;
}
		
input[type=submit]:hover {
	background-color: #000000;
	color: #FEFEFE
}
	
textarea{
	width: 100%;
	resize: none;
	height: 100px;
	padding: 12px 6px;
	padding-bottom: 3px;
	margin: 8px 0;
	display: inline-block;
	font-size: 18px;
	border-bottom: 1px solid #ababab;
	box-sizing: border-box;
	color: #a7a7a7;
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow: none;
}
		
textarea:focus{
	outline: none;
	border-color: #1497E2;
}

textarea::-webkit-input-placeholder {
    color: #a7a7a7;
}

#submail{
	width: 100%;
	padding: 15px 10px;
	margin: 20px 0;
	display: inline-block;
	background-color: transparent;
	font-size: 18px;
	border: 1px solid #fefefe;
	box-sizing: border-box;
	color: #fefefe;
	box-shadow: none;
}

#submail::-webkit-input-placeholder {
    color: #fefefe;
}

@media only screen and (max-width: 738px) {
	#left{
		position: relative;
	}
	#right1{
		display: none;
	}
	#right2{
		display:block;
		padding: 15px;
	}
	#button1{
		display: none;
	}
	#close{
		display: none;
	}
	footer{
		position: relative;
		margin-top: 15px;
	}
	#subscribe{
		position: absolute;
		margin-top: 0;
	}
}